# Add between [StdRESTful] and [Std Report]

[StdRESTful]

  [[Twitter]]
    app_key = YOUR_APP_KEY
    app_key_secret = YOUR_APP_KEY_SECRET
    oauth_token = YOUR_OAUTH_TOKEN
    oauth_token_secret = YOUR_OAUTH_TOKEN_SECRET
    post_interval = 3600 # 3600 seconds = 1 hour
    unit_system = METRICWX # Insert US, METRIC or METRICWX
    binding = archive
    image_paths = /var/tmp/current.png, https://myserver.com/forecast.png
    format = {station:%.8s}: Temp: {outTemp:%.1f}°C; Wind: {windSpeed:%.1f} km/h

  ....

  [StdReport]
